/* Material Number Select: Example */

* {
  border: 0;
  box-sizing: inherit;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 10px; /* rem = 10px  */
}

body {
  font-size: 1.6rem;
}

code {
  background-color: #eeeeee;
}

h1 {
  display: inline-block;
  font-size: 2em;
  line-height: 1em;
}

h2 {
  font-size: 1.5em;
  line-height: 1em;
  margin-top: 0;
}

header {
  background-color: #cccccc;
  color: #ffffff;
  padding: 2rem
}

section {
  padding: 2rem;
}

select {
  border: 1px solid #000000;
  font-size: 1em;
  display: block;
}
